
<div class="centered-content">
    <div class="project-content">
        <div class="sidebar">
            <h1 class="title has-primary">
                Projects
            </h1>
            <div class="project-menu">
                <a class="project-menu-item is-active">
                    <p>
                        project 1
                    </p>
                </a>
                <a class="project-menu-item">
                    <p>
                        project 2
                    </p>
                </a>
                <a class="project-menu-item">
                    <p>
                        project 3
                    </p>
                </a>
            </div>
            <!--
                creating event handler for click event for creating new project
            -->
            <button class="button" (click)="createnewproject()"> + New Project</button>
        </div>

        <div class="tasks-list-container">
            <h1 class="title has-primary">
                Tasks
            </h1>
            <div class="task">
                <p>tasks1</p>
            </div>
            <div class="task">
                <p>tasks1</p>
            </div>
            <div class="task complete">
                <p>tasks1</p>
            </div>
        </div>
        
    </div>
</div>
