
<div class="centered-content">
    <div class="project-content">
        <div class="sidebar">
            <h1 class="title has-primary">
                Projects
            </h1>
            <div class="project-menu">
                <a class="project-menu-item" *ngFor="let project of projects" [routerLink]="['/projects',project._id]" routerLinkActive="is-active">
                    <p>
                        {{project.title}}
                    </p>
                </a>
            </div>
            <!--
                using the router link to route to the url/new-project to create a new project.
            -->
            <button class="button" routerLink="/new-project"> + New Project</button>
        </div>

        <div class="tasks-list-container">
            <h1 class="title has-primary">
                Tasks
            </h1>
            <div class="task" *ngFor="let task of tasks">
                <p>{{task.title}}</p>
            </div>
            
            <button class="task-add-button">
                <img src="../../../assets/plus-icon.svg" alt="">
            </button>
        </div>
        
    </div>
</div>
